{% extends "layout.html" %}

{% block content %}
<!-- <video autoplay="true" id="videoElement">
</video> -->

<!-- <img src="{{ url_for('video_feed') }}"> -->

        <h1>hello</h1>
        <video width="320" height="240" controls>
                <source src="../static/staticVideo.mp4" type=video/mp4>
                Your browser does not support the video tag.
        </video>
        <br>
        <br>
        <a href='http://98.254.242.41:8081'>Click here for live video!</a>

        <!-- <embed type="video/webm" height='800' width='450' src="http://98.254.242.41:8081" /> -->

{% endblock %}